$background-color: #363740;
$textColor: #a4a6b3;

body {
  background-color: $background-color;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

.StartPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__button {
    font-size: large;
    width: 300px;
    height: 50px;
    border: 1px solid $textColor;
    border-radius: 5px;
    background-color: $background-color;
    color: $textColor;
    text-decoration: none;
    &:hover {
      background-color: lighten($background-color, 2%);
    }
    &:active {
      background-color: darken($background-color, 4%);
    }
    a {
      align-items: center;
      justify-content: center;
    }
  }
}

.form {
  margin: 10px;
  color: $textColor;
  &__header_block {
    display: flex;
    h1 {
      flex: 1;
    }
  }
  .Settings_button {
    margin-top: 10px;
    cursor: pointer;
    width: 35px;
    &:hover{
      width: 37px;
    }
    &:active{
      width: 40px;
    }
  }
  ul {
    list-style: none;
  }
  &__builded__block {
    margin-left: 40px;
  }
}

.your-component .react-colorful {
  height: 240px;
}
.your-component .react-colorful__saturation {
  border-radius: 4px 4px 0 0;
}
.your-component .react-colorful__hue {
  height: 40px;
  border-radius: 0 0 4px 4px;
}
.your-component .react-colorful__hue-pointer {
  width: 12px;
  height: inherit;
  border-radius: 0;
}
